<div class="login">
  <div class="basic">
    <h3>LogIn to the Admin page</h3>
  </div>
  <form action="/auth/login/2fa/email" method="post">
    <div class="mb-2">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Continue</button>
    <a style="padding-left: 14rem;" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/auth/login">Login with password</a>
  </form>
</div>